.BuyedBox {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: 45px auto;
    border-radius: 10px;
    max-width: 1100px;
    min-width: 800px;
    background-color: #fff;
    padding: 45px;
    /* justify-content: space-between;
    align-items: flex-start; */
}

.BuyedContent {
    margin: 0 auto;
    width: 90%;
}

.buyed-table-title {
    flex: auto;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5715;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.count-good-table {
    margin: 45px auto;
    border-radius: 10px;
    max-width: 1100px;
    min-width: 800px;
    background-color: #fff;
    padding: 45px;
}